{% extends "base.html" %}

{% block content %}
<section class="section-padding">
    <div class="container">
        <h1 class="section-title">Programming Skills & Resources</h1>
        
        <div class="row mb-5">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h2>R Programming</h2>
                        <h3>Key Areas</h3>
                        <ul>
                            <li>Data Analysis and Visualization</li>
                            <li>Statistical Computing</li>
                            <li>Bioconductor Package Development</li>
                        </ul>
                        <h3>Recommended Resources</h3>
                        <ul>
                            <li><a href="https://www.bioconductor.org/" target="_blank">Bioconductor</a> - For genomics data analysis</li>
                            <li><a href="https://satijalab.org/seurat/" target="_blank">Seurat</a> - Single-cell analysis in R</li>
                            <li><a href="https://www.tidyverse.org/" target="_blank">Tidyverse</a> - Collection of R packages</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h2>Python</h2>
                        <h3>Key Areas</h3>
                        <ul>
                            <li>Scientific Computing (NumPy, SciPy)</li>
                            <li>Data Analysis (Pandas)</li>
                            <li>Machine Learning (Scikit-learn)</li>
                        </ul>
                        <h3>Recommended Resources</h3>
                        <ul>
                            <li><a href="https://www.scipy.org/" target="_blank">SciPy</a> - Scientific computing tools</li>
                            <li><a href="https://scikit-learn.org/" target="_blank">Scikit-learn</a> - Machine learning in Python</li>
                            <li><a href="https://pandas.pydata.org/" target="_blank">Pandas</a> - Data analysis library</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h2>Bash Scripting</h2>
                        <h3>Key Areas</h3>
                        <ul>
                            <li>File System Operations</li>
                            <li>Text Processing</li>
                            <li>Pipeline Development</li>
                        </ul>
                        <h3>Recommended Resources</h3>
                        <ul>
                            <li><a href="https://www.gnu.org/software/bash/manual/bash.html" target="_blank">GNU Bash Manual</a></li>
                            <li><a href="https://www.shellcheck.net/" target="_blank">ShellCheck</a> - Script analysis tool</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
